<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Food List</ion-title>
  </ion-navbar>
</ion-header>

<!--https://github.com/ionic-team/ionic/issues/1322-->
<ion-content overflow-scroll="true">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list margin-bottom="0px">
    <button ion-item *ngFor="let item of foodItemsInPage" (click)="itemTapped($event, item)">
      <ion-thumbnail item-start>
        <!--<img src="{{item.Image}}" image-cache>-->
        <img-loader class="center-cropped" src="{{item.Image}}" useImg></img-loader>
      </ion-thumbnail>
      <h2>{{item.Name}}</h2>
      <!--<button ion-button clear item-end>View Detail</button>-->
    </button>
  </ion-list>
  <div align="center">
    <button ion-button icon-left [disabled]="currentPage==1"  *ngIf="!isSearching" (click)="onPageChanged(1)">1</button>
    <button ion-button icon-right [disabled]="currentPage==2" *ngIf="!isSearching" (click)="onPageChanged(2)">2</button>
    <button ion-button icon-left [disabled]="currentPage==3"  *ngIf="!isSearching" (click)="onPageChanged(3)">3</button>
    <button ion-button icon-right [disabled]="currentPage==4" *ngIf="!isSearching" (click)="onPageChanged(4)">4</button>
    <button ion-button icon-right [disabled]="currentPage==5" *ngIf="!isSearching" (click)="onPageChanged(5)">5</button>
  </div>
</ion-content>
